textarea{
    height: 250px;
    width: 100%;
}
input[type="file"]{
    color: slategray;
}
.field-error{
    border-color: #dc3545;
    color: #dc3545;
}
.field{
    border-color: blue;
    color: blue;
}