<th:block th:replace="fragments/html/htmlHead.html::htmlHeadFragment"/>
    <title>feedsoup - 회원가입</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link th:href="@{/css/registerForm.css}" rel="stylesheet">
<th:block th:replace="fragments/sidebar/headerSideBar.html::headerSideBarFragment"/>

    <p th:if="${status}">회원가입에 성공했습니다.</p>

    <div th:if="${status eq null or not status}">
        <h3 th:text="회원가입"></h3>
            <form id="form" th:action="@{/register/save}" th:object="${registerFormDTO}" method="POST" class="form-control">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mb-3">
                        <label for="memberNickname">닉네임</label>
                        <input th:field="*{memberNickname}" th:errorclass="field-error" type="text" id="memberNickname" name="memberNickname" class="form-control" placeholder="3~18자 이하의 영문 대소문자,한글,숫자를 조합하여 닉네임 입력를 입력해주세요." required>
                            <p class="field-error" th:errors="*{memberNickname}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div id="email-group" class="col-md-6 mb-3">
                        <label for="memberId">이메일</label>
                        <input th:field="*{memberId}" th:errorclass="field-error" id="memberId" name="memberId" type="text" class="form-control" placeholder="아이디로 사용할 이메일을 입력해주세요." required>
                            <p th:errors="*{memberId}" id="email-field-error" class="field-error"></p>
                            <p id="email-verify-span"></p>
                            <button id="email-verify-btn" type="button" class="btn btn-secondary" >인증번호전송</button>
                        <input th:field="*{checkNum}" th:errorclass="field-error" id="checkNum" name="checkNum" class="form-control" placeholder="인증번호를 입력해주세요.">
                            <p th:errors="*{checkNum}" id="checkNum-field-error" class="field-error"></p>
                            <p id="email-verify-num-span"></p>
                            <button id="email-verify-num-btn" type="button" class="btn btn-secondary">인증하기</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mb-3">
                        <label for="memberPassword">비밀번호</label>
                        <input th:field="*{memberPassword}" th:errorclass="field-error" id="memberPassword" name="memberPassword" type="password" class="form-control"
                               placeholder="8~16자의 영문 대소문자,숫자,특수문자를 조합하여 비밀번호를 입력를 입력해주세요." required>
                            <p th:errors="*{memberPassword}" class="field-error" ></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mb-3">
                        <label for="memberName">이름</label>
                        <input th:field="*{memberName}" th:errorclass="field-error" id="memberName" name="memberName" type="text" class="form-control" placeholder="이름을 입력해주세요." required>
                            <p th:errors="*{memberName}" class="field-error" ></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mb-3">
                        <label for="memberBirthdate">생년월일</label>
                        <input th:field="*{memberBirthdate}" th:errorclass="field-error" type="date" id="memberBirthdate" name="memberBirthdate" class="form-control" required>
                            <p th:errors="*{memberBirthdate}" class="field-error"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mb-3">
                        <label for="memberPhone">전화번호</label>
                        <input th:field="*{memberPhone}" th:errorclass="field-error" type="tel" id="memberPhone" name="memberPhone" class="form-control" placeholder="번호를 입력해주세요." required>
                            <p th:errors="*{memberPhone}" class="field-error"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mb-3">
                        <label for="memberAddress">주소</label>
                        <input th:field="*{memberAddress}" th:errorclass="field-error" type="text" id="memberAddress" name="memberAddress" class="form-control" placeholder="우편번호" required>
                        <button id="post-code" type="button" class="btn btn-secondary">주소 찾기</button>
                            <p th:errors="*{memberAddress}" class="field-error"></p>
                    </div>
                </div>

                <button id="submit-btn" class="btn btn-secondary">회원가입</button>
                <button class="btn btn-secondary">취소하기</button>
            </form>
    </div>
<th:block th:replace="fragments/sidebar/footerSideBar.html::footerSideBarFragment"/>
<script type="text/javascript" th:src="@{/js/registerForm.js}"></script>
<th:block th:replace="fragments/html/htmlFoot.html::htmlFootFragment"/>
