<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerSideBarFragment">
        </head>
        <body>
        <div class="container-fluid text-center">
            <div id="div_wrap" class="row">
                <!-- side nav -->
                <div id="sidenav_div" class="col-2 ">
                    <div id="sidenav_top_span">
                        <p>
                            <a th:if="${session.loginMember == null}" th:href="@{/loginForm}" class="btn btn-outline-secondary">로그인</a>
                            <a th:if="${session.loginMember == null}" th:href="@{/register/form}" class="btn btn-outline-secondary">회원가입</a>

                            <p th:if="${session.loginMember != null}" th:text="${session.loginMember.memberName}+'님 환영합니다.'"></p>
                            <form th:if="${session.loginMember != null}" th:action="@{/logout}" th:method="post">
                                <button class="btn btn-outline-secondary">로그아웃</button>
                            </form>
                        </p>

                    </div>

                    <ul id="navi" class="nav flex-column ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">마이페이지</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/board(page=${1})}" class="nav-link">커뮤니티게시판</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/notice/{page}(page=${1})}" class="nav-link">공지사항</a>
                        </li>
                    </ul>
                </div> <!-- side nav -->

                <!-- content div -->
                <div id="content_div" class="col-10">
    </th:block>
</html>