<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <div class="container-fluid text-center">
            <div id="div_wrap" class="row">
                <!-- side nav -->
                <div id="sidenav_div" class="col-2 ">
                    <div id="sidenav_top_span">
                        <!-- 비로그인 -->
                        <span>
                            <a class="btn btn-outline-secondary" href="#">로그인</a>
                            <a class="btn btn-outline-secondary" href="#">회원가입</a>
                        </span>
                        <!-- 회원 로그인 -->
                        <!-- <span>
                            님 환영합니다.
                        </span>회원 로그인 -->
                        <!-- 관리자 로그인 -->
                        <!-- <span>
                            관리자님 환영합니다.
                        </span>관리자 로그인 -->
                    </div>

                    <ul id="navi" class="nav flex-column ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">마이페이지</a>
                            <ul>
                                <li><a href="">회원정보수정</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">커뮤니티게시판</a>
                            <ul>
                                <li><a href="">공지사항</a></li>
                                <li><a href="">feedsoup</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div> <!-- side nav -->

                <!-- content div -->
                <div id="content_div" class="col-10">
    </th:block>
</html>